{% extends 'registration/registration_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Sign In{% endblock title %}

{% block registration_content %}
<div class="card bg-secondary shadow border-0">
    <div class="card-header bg-white pb-5">
        <div class="text-muted text-center mb-3">
            <small>Sign in with</small>
        </div>
        <div class="btn-wrapper text-center">
            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                    <img src="{% static 'img/icons/facebook.svg' %}">
                </span>
                <span class="btn-inner--text">Facebook</span>
            </a>
        </div>
    </div>
    <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
            <small>Or sign in with credentials</small>
        </div>
        <form role="form" method="POST" action="{% url 'login' %}">
            {% if form.errors %}
                <div class="text-danger mb-0">{{ form.non_field_errors }}</div>
            {% endif %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}
            {% csrf_token %}
            <div class="form-group mb-3">
                <div class="text-danger">{{ form.username.errors }}</div>
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    {% render_field form.username class="form-control" placeholder="Email or Username" %}
                </div>
                <div class="text-waring">{{ form.username.help_text }}</div>
            </div>
            <div class="form-group">
                <div class="text-danger">{{ form.password.errors }}</div>
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {% render_field form.password class="form-control" placeholder="Password" %}
                </div>
                <div class="text-warning">{{ form.username.help_text }}</div>
            </div>
            <button type="submit" class="btn btn-primary my-4 pull-right">Sign in</button>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6">
        <a href="{% url 'password_reset' %}" class="text-light">
            <small>Forgot password?</small>
        </a>
    </div>
    <div class="col-6 text-right">
        <a href="{% url 'account_create' %}" class="text-light">
            <small>Create new account</small>
        </a>
    </div>
</div>
{% endblock registration_content %}
    
