{% extends 'accounts/account_update_base.html' %}
{% load widget_tweaks %}

{% block title %}Password change{% endblock title %}

{% block update_content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title text-uppercase text-muted mb-0">Change Password</h5>
        <form action="{% url 'password_change' %}" method="POST" class="col-lg-6 mt-3">
            {% csrf_token %}
            {% if form.errors %}
                <div class="text-danger mb-0">{{ form.non_field_errors }}</div>
            {% endif %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}
            <div class="form-group">
                <label for="{{ form.old_password.auto_id }}" class="form-label-control form-control-label-alternative">{{ form.old_password.label }}</label>
                {% if form.old_password.errors %}
                    <div class="text-danger">{{ form.old_password.errors }}</div>
                {% endif %}
                {% render_field form.old_password class="form-control form-control-alternative" placeholder="Old password" %}
                {% if form.old_password.help_text %}
                    <div class="text-warning">{{ form.old_password.help_text }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.new_password1.auto_id }}" class="form-label-control form-control-label-alternative">{{ form.new_password1.label }}</label>
                {% if form.new_password1.errors %}
                    <div class="text-danger">{{ form.new_password1.errors }}</div>
                {% endif %}
                {% render_field form.new_password1 class="form-control form-control-alternative" placeholder="New password" %}
                {% if form.new_password1.help_text %}
                    <div class="text-warning">{{ form.new_password1.help_text }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.new_password2.auto_id }}" class="form-label-control form-control-label-alternative">{{ form.new_password2.label }}</label>
                {% if form.new_password2.errors %}
                    <div class="text-danger">{{ form.new_password2.errors }}</div>
                {% endif %}
                {% render_field form.new_password2 class="form-control form-control-alternative" placeholder="New password confirmation" %}
                {% if form.new_password2.help_text %}
                    <div class="text-warning">{{ form.new_password2.help_text }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary pull-right">Change Password</button>
        </form>
    </div>
</div>
{% endblock update_content %}

{% block extra_scripts %}
<script>
$(document).ready(function() {
    $('#edit-account').removeClass('active');
    $('#change-password').addClass('active');
});
</script>
{% endblock extra_scripts %}    
