{% extends 'registration/registration_base.html' %}
{% load widget_tweaks %}

{% block title %}Password rest complete{% endblock title %}

{% block registration_content %}
<div class="card bg-secondary shadow border-0">
    <div class="card-body px-lg-5 py-lg-5">
        <h5 class="card-title text-uppercase text-muted mb-0">Password reset complete</h5>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <a href="{% url 'login' %}">Log in</a>
    </div>
</div>
{% endblock registration_content %}
