{% extends 'registration/registration_base.html' %}
{% load widget_tweaks %}

{% block title %}Password change done{% endblock title %}

{% block registration_content %}
<div class="card bg-secondary shadow border-0">
    <div class="card-body px-lg-5 py-lg-5">
        <h5 class="card-title text-uppercase text-muted mb-0">Password change successful</h5>
        <p>Your password was changed.</p>
        <a href="{% url 'dashboard' %}">Return</a>
    </div>
</div>
{% endblock registration_content %}
