{% extends 'registration/registration_base.html' %}
{% load widget_tweaks %}

{% block title %}Password reset{% endblock title %}

{% block registration_content %}
<div class="card bg-secondary shadow border-0">
    <div class="card-body px-lg-5 py-lg-5">
        <h5 class="card-title text-uppercase text-muted mb-0">Reset Password</h5>                        
        <form role="form" method="POST" class="mt-3">
            {% csrf_token %}
            {% if form.errors %}
                <div class="text-danger mb-0">{{ form.non_field_errors }}</div>
            {% endif %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}
            <div class="form-group">
                <label for="{{ form.new_password1.auto_id }}" class="form-label-control form-control-label-alternative">{{ form.new_password1.label }}</label>
                {% if form.new_password1.errors %}
                    <div class="text-danger">{{ form.new_password1.errors }}</div>
                {% endif %}
                {% render_field form.new_password1 class="form-control form-control-alternative" placeholder="New password" %}
                {% if form.new_password1.help_text %}
                    <div class="text-warning">{{ form.new_password1.help_text }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.new_password2.auto_id }}" class="form-label-control form-control-label-alternative">{{ form.new_password2.label }}</label>
                {% if form.new_password2.errors %}
                    <div class="text-danger">{{ form.new_password2.errors }}</div>
                {% endif %}
                {% render_field form.new_password2 class="form-control form-control-alternative" placeholder="New password confirmation" %}
                {% if form.new_password2.help_text %}
                    <div class="text-warning">{{ form.new_password2.help_text }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary pull-right">Reset Password</button>
        </form>
    </div>
</div>
{% endblock registration_content %}
